.page-footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $bg-footer-hero-color;

  &__container {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }
}