.footer_logo {
    display: inline-block;
  
    margin-bottom: 20px;
  
    color: $primary-white-color;
  
    text-decoration: none;
    font-family: $secondary-font, sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
  }